@import "tailwindcss";
@import 'keen-slider/keen-slider.min.css';


@font-face {
  font-family: 'Delon';
  src: url('/fonts/Delon.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #e3f2fde3;  /* Soft baby blue */
    --foreground: #171717;
  }
}

body {
  background-color: #f7faff3b !important;
  color: #171717;
  font-family: Arial, Helvetica, sans-serif;
}


@layer utilities {
  .animate-fade-in {
    animation: fadeIn 0.3s ease forwards;
    opacity: 0;
  }

  .animate-scale-in {
    animation: scaleIn 0.3s ease forwards;
    transform: scale(0.9);
  }

  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }

  @keyframes scaleIn {
    to {
      transform: scale(1);
    }
  }
  @keyframes wiggle {
    0%, 100% { transform: rotate(0deg); }
    25% { transform: rotate(-15deg); }
    75% { transform: rotate(15deg); }
  }
  
  .animate-wiggle {
    animation: wiggle 0.5s ease-in-out;
  }
  
}

